## ============================================================================
## File name   : cors-proxy.service
## Description : systemd configuration file for cors-proxy
## Author(s)   : Michael Hucka <mhucka@caltech.edu>
## Organization: California Institute of Technology
## Date created: 2020-04-23
## ============================================================================

[Unit]
Description=CORS proxy service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
Type=simple
User=corsproxy
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/corsproxy/admin/config.sh
ExecStart=/home/corsproxy/admin/server start
ExecStop=/home/corsproxy/admin/server stop
ExecReload=/home/corsproxy/admin/server restart

[Install]
WantedBy=multi-user.target
