## -*- mode: conf -*-
## ============================================================================
## File name   : cors-proxy.service
## Description : systemd configuration file for cors-proxy
## Author(s)   : Michael Hucka <mhucka@caltech.edu>
## Organization: California Institute of Technology
## Date created: 2020-04-23
## ============================================================================

[Unit]
Description=CORS proxy service
After=network-online.target

[Service]
Type=forking
User=corsproxy
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/corsproxy/admin/config.sh
PIDFile=/var/run/corsproxy/corsproxy.pid
ExecStart=/home/corsproxy/admin/corsproxy-helper start
ExecStop=/home/corsproxy/admin/corsproxy-helper stop
ExecReload=/home/corsproxy/admin/corsproxy-helper restart
PrivateTmp=yes
StartLimitBurst=5
StartLimitInterval=30

[Install]
WantedBy=multi-user.target
